SECRET_KEY=change-this-secret-key
DEBUG=False
ALLOWED_HOSTS=your-backend.onrender.com

DB_NAME=postgres
DB_USER=postgres.xxxxxxxxxxxxxxxxxxxx
DB_PASSWORD=your-supabase-password
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=5432

CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://your-frontend.vercel.app
CSRF_TRUSTED_ORIGINS=https://your-frontend.vercel.app,https://your-backend.onrender.com
